*{
  position: centerie;
}
body {
  background-color: rgba(206, 253, 243, 0.952); 
}
/*#slideshow-containe{
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/
.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 50px 14px;
  margin-top: -22px;
  color: rgb(236, 241, 240);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  transition: background-color 0.5s;
  border: 1px solid orange;
}

/* Position the "next button" to the right */
.next {
  font-size: 30px;
  right: 0;
  border-radius: 5px ;

}
.prev {
  font-size: 30px;
  left: 0;
  border-radius: 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  font-size: 30px;
  background-color: rgba(0,0,0,0.8);
}
.pie > p{
    bottom: 0%;
    position: centeire;
    padding: 0;
    margin-top:1%;
    margin-right: 2%;
    text-align: center;    
    font-family: fantasy;
    font-weight: bolder;
}
.empezarAleatorio > form{
  bottom: 0%;
  position: centeire;
  padding: 0;
  text-align: center;    
  font-family: fantasy;
  font-weight: bolder;
}